@page "/"
@attribute [Authorize]
@using HappyWarehouse.Client.Pages.Wharehouse
@using HappyWarehouse.Client.Pages.Item

<style>
    .table {
        border: 2px solid #5575f0;
        margin-top: 7px;
    }

    .dash-card {
        border: 1px solid black;
        padding: 10px;
        background-color: #2071c114;
        border-radius: 7px;
        box-shadow: 1px 1px 4px 1px;
    }
</style>

<PageTitle>Dashboards</PageTitle>

<div class="dash-card">
    <WarehouseStatus></WarehouseStatus>
</div>

<div class="mt-5">
    <ItemsStatus></ItemsStatus>
</div>

